<?xml version="1.0" encoding="UTF-8" ?>

<!--
    == XML configuration file for the entire game ==

    @elm <level>: One level of the game. Levels are played in sequential order
                  from top to bottom.
        @attributes gameType: a string describing the type of the game level
                              and which features it incorporates (are there
                              enemies, walls, both, ... ?)
                              See @GameType enum and @TreasureScooperBuilder
                              class to see how the change of this attribute
                              changes the game level.
        @attributes world: the path (relative to the current directory)
                           of the game world configuration file.

    @elm <actor>: The name (or rather type) of a singular actor in the game.
                  All arena described here have specific sprites representing
                  them on the screen and a unique @ActorType enum.
        @attributes name: a string describing this arena actor type (unique).
                          See @ActorType enum.
        @attributes left:
                    right:
                    up:
                    down: Boolean true/false specifying, whether there are specific sprites
                          to represent this actor when oriented in the specified direction.
-->

<config player-package="szakacs.kpi.fei.tuke.player">
    <levels>
        <level gameType="stack" world="worlds/world1multiplayer.xml">
            <player class="PlayerA" entrance="left" />
            <player class="PlayerB" entrance="center" />
            <player class="PlayerC" entrance="right" />
        </level>
        <level gameType="queue" world="worlds/world2.xml">
            <player class="PlayerA" entrance="left" />
        </level>
        <level gameType="enemies" world="worlds/world3multiplayer.xml">
            <player class="PlayerA" entrance="center" />
            <player class="PlayerA" entrance="left" />
        </level>
        <level gameType="enemies" world="worlds/world1.xml">
            <player class="PlayerA" entrance="center" />
        </level>
        <level gameType="ultimate" world="worlds/world2multiplayer.xml">
            <player class="PlayerA" entrance="left" />
            <player class="PlayerB" entrance="right" />
        </level>
        <level gameType="ultimate" world="worlds/world3.xml">
            <player class="PlayerA" entrance="center" />
        </level>
    </levels>
    <actors>
        <actor name="mole" left="true" right="true" up="false" down="false" />
        <actor name="bullet" left="true" right="true" up="true" down="true" />
        <actor name="wall" left="true" right="false" up="false" down="false" />
    </actors>
</config>