<?xml version="1.0" encoding="UTF-8" ?>
<!--
 == XML configuration file for a particular game map or level ==

    Entries here describe each horizontal tunnel in the game,
    specifically, its Y (vertical) coordinate in the image,
    relative to the bottom left corner of the image as well
    as the X coordinates of all entrances into that tunnel,
    also measured from the same coordinate origin.

    @elm <config>: root element and also contains basic game attributes
        @attributes width: the game field width, in pixels
        @attributes height: the game field height, in pixels
        @attributes offsetX: the width of the smallest cell in the game
        @attributes offsetY: the height of the smallest cell in the game
        @attributes initX: the initial horizontal position of the player
        @attributes initY: the initial vertical position of the player
        @attributes to: the identifier of the root tunnel (first directly reachable horizontal tunnel)
    @elm <ht>: a horizontal tunnel in the game
        @attributes id: the identifier of the tunnel, created from the coordinates of the tunnel
        @attributes x: The horizontal coordinate of the leftmost edge of the tunnel
        @attributes y: The vertical coordinate of the tunnel,
        @attributes width: The width of the tunnel, described as the number of cells
                           of width offsetX and height offsetY
    @elm <ic>: an interconnection (vertical tunnel) between tunnels
        @attributes x: the horizontal coordinate of the interconnection
        @attributes from: the identifier of the horizontal tunnel connecting to
                          the upper side of the interconnection
        @attributes to: the identifier of the horizontal tunnel connecting to
                        the bottom side of the interconnection
-->
<config width="4096" height="2048" offsetX="128" offsetY="128" initX="1920" initY="1664" to="x0y1408">
    <htunnels>
        <ht id="x0y1408" x="0" y="1408" width="32" />
        <ht id="x0y1152" x="0" y="1152" width="32" />
        <ht id="x0y896" x="0" y="896" width="32" />
        <ht id="x0y640" x="0" y="640" width="32" />
        <ht id="x0y384" x="0" y="384" width="32" />
        <ht id="x0y128" x="0" y="128" width="32" />
    </htunnels>
    <interconnections>
        <ic x="768" from="x0y1408" to="x0y1152" />
        <ic x="2688" from="x0y1408" to="x0y1152" />
        <ic x="1280" from="x0y1152" to="x0y896" />
        <ic x="3456" from="x0y1152" to="x0y896" />
        <ic x="384" from="x0y896" to="x0y640" />
        <ic x="2048" from="x0y896" to="x0y640" />
        <ic x="640" from="x0y640" to="x0y384" />
        <ic x="2688" from="x0y640" to="x0y384" />
        <ic x="1024" from="x0y384" to="x0y128" />
        <ic x="3200" from="x0y384" to="x0y128" />
    </interconnections>
</config>