<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 == XML configuration file for a particular game map or level ==    

    Entries here describe each horizontal tunnel in the game,
    specifically, its Y (vertical) coordinate in the image,
    relative to the bottom left corner of the image as well
    as the X coordinates of all entrances into that tunnel, 
    also measured from the same coordinate origin.
    
    @elm <htunnel>: a horizontal tunnel in the game
        @attributes level: Describes the zero-indexed order of the level 
                           from top to bottom, made for convenience sake, 
                           because the levels are stored in an indexed 
                           structure (List or Array) in the game code.
        @attributes y: The vertical coordinate of the tunnel, relatve to 
                       the lower left corner of the screen.
    @elm <entrance>: an entrance into the tunnel, described by the <htunnel>
                     element the <entrance> element is nested in.
    @elm <std_offset>: describes the smallest grid square size for the background 
                       image (and also the smallest size of all other images).     
    <std_offset> specifies a particular
-->
<config>
    <std_offset>128</std_offset>
    <htunnel level="0" y="1408">
        <entrance>1920</entrance>
    </htunnel>
    <htunnel level="1" y="1152">
        <entrance>768</entrance>
        <entrance>2688</entrance>
    </htunnel>
    <htunnel level="2" y="896">
        <entrance>1280</entrance>
        <entrance>3456</entrance>
    </htunnel>
    <htunnel level="3" y="640">
        <entrance>384</entrance>
        <entrance>2048</entrance>
    </htunnel>
    <htunnel level="4" y="384">
        <entrance>640</entrance>
        <entrance>2688</entrance>
    </htunnel>
    <htunnel level="5" y="128">
        <entrance>1024</entrance>
        <entrance>3200</entrance>
    </htunnel>
</config>
